.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 80s linear;
  }
}

.App-header {
  background-color: #225e58;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
}

.App-link {
  color: #f4ee4f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  background-color: aquamarine;
  padding: 8px;
  margin: 12px;
  color: darkgreen;
  font-weight: bold;
  border-radius: 8px;
  font-size: large;
}

.coin{
  width: 80px;
  border-radius: 50%;
}