*, *::before, *::after {
	box-sizing: border-box;
}

html {
	font-size: 16pt;
	font-family: monospace;
}

body {
	background: #eee;
	text-align: center;
}

h1 {
	font-size: 2rem;
	font-family: sans-serif;
}

input, textarea, button, select {
	font-family: sans-serif;
	font-size: inherit;
	line-height: inherit;
}